<nav class="navbar bg-body-tertiary" id="navbar">
  <div class="container-fluid">
    <div class="row ">
        <a class="navbar-brand" href="#" >
          <img src="assets/img/star-wars-4.svg" alt="Logo" width="200" height="200" class="d-inline-block align-text-center"/>
        </a>
        </div>
        <div class="login-container" id="login-container">
          <a class="login-list">Login</a>
          <a class="login-list">Register</a>
       </div>
      </div>
      <app-navbar-tab></app-navbar-tab>
</nav>
