
.container-fluid {  
  background-color: #000;  
  color: #fff;  
  font-family: 'Star Jedi', cursive; // Substitueix per la font que escullis!  
   
} 

.card{
  background-color: black;  
  color: #fff;  
  font-family: 'Roboto' sans-serif;
  border: #fff 2px solid; 
}

.card-body{
  background-color: rgb(29, 28, 30);
}

button {  
  background-color: #ffcc00;  
  color: #000;  
  border: none;  
  padding: 10px 10px;  
  cursor: pointer;  
  transition: background-color 0.3s;  

  button:hover {  
    background-color: darken(#ffcc00, 10%);  
  }  
}