
.container-fluid {
  height: 70px;
  background-color: black; 
  color: white; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  font-size: 22px;
} 

a.nav-link.active,
 a.nav-link.disabled { 
  color: white;
}

a.nav-link {
  color: #fff;
}

