.container-fluid {
    height: 50x;
    background-color: #000;  
    color: #fff;  
    font-family: 'Star Jedi', cursive;
}

.nav.nav-tabs {
    background-color: #000;
    color: white;
    
}

a.nav-link.active,
 a.nav-link.disabled { 
  color: white
}

.lineaSeparacion{
  height: 5px;
  color: white;

}