/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap.scss';


html, body { height: 100%; 
background-color: black;
color: white;
}


body {  
  background-color: #000;  
  color: #fff;  
  font-family: 'Star Jedi', cursive; // Substitueix per la font que escullis!  
   
} 